<div id="content">
  <p>
    All orders over US$79 will enjoy free standard shipping to the United
    States.
  </p>
</div>
<div id="footer">
  <img id="cover" src="images/bannerpic.png" />
</div>
<div id="llfooter">
  <img id="llimage" src="images/coverpic1.jpg" />
</div>
<div id="lrfooter">
  <img id="lrimage" src="images/coverpic2.jpg" />
</div>
<div id="llfooter">
  <img id="llimage" src="images/coverpic2.jpg" />
</div>
<div id="lrfooter">
  <img id="lrimage" src="images/coverpic1.jpg" />
</div>
