<div id="hmenu">
  <img id="logo" src="images/logo.png" />
  <ul>
    <li>
      <a href="cv"><p>PC</p></a>
    </li>
    <li>
      <a href=""><p>Console</p></a>
    </li>
    <li>
      <a href=""><p>Mobile</p></a>
    </li>
    <li>
      <a href=""><p>Lifestyle</p></a>
    </li>
    <li>
      <a href=""><p>Services</p></a>
    </li>
    <li>
      <a href=""><p>Community</p></a>
    </li>
    <li>
      <a href=""><p>Support</p></a>
    </li>
    <li>
      <a href=""><p>Store</p></a>
    </li>
  </ul>
</div>
