<form action="" method="POST" class="container">
  <div class="mb-3">
    <label for="" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      value="<%= stationary.title %>"
      name="title"
    />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Price</label>
    <input
      type="text"
      class="form-control"
      name="price"
      value="<%= stationary.price %>"
    />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Quantity</label>
    <input
      type="text"
      class="form-control"
      name="quantity"
      value="<%= stationary.quantity %>"
    />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Tags</label>
    <input
      type="text"
      class="form-control"
      name="tags"
      value="<%= stationary.tags %>"
    />
  </div>
  <button class="btn btn-info" type="submit">Edit Stationary</button>
</form>
