<form action="" method="POST" class="container">
  <div class="mb-3">
    <label for="" class="form-label">Name</label>
    <input type="text" class="form-control" name="name" />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Age</label>
    <input type="text" class="form-control" name="age" />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Department</label>
    <input type="text" class="form-control" name="department" />
  </div>
  <button class="btn btn-info" type="submit">Add New Teacher</button>
</form>
