<form action="" method="POST" class="container">
  <div class="mb-3">
    <label for="" class="form-label">Name</label>
    <input type="text" class="form-control" name="name" />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Age</label>
    <input type="text" class="form-control" name="age" />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Major</label>
    <input type="text" class="form-control" name="major" />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Total Credit Hours</label>
    <input type="text" class="form-control" name="totalCreditHours" />
  </div>
  <button class="btn btn-info" type="submit">Add New Student</button>
</form>
